/* src/pages/DoctorList.css */

.doctorlist-container {
  text-align: center;
  padding: 50px 40px;
  background-color: #f5faff;
  min-height: 80vh;
}

.doctorlist-container h2 {
  color: #0077b6;
  margin-bottom: 30px;
}

.doctorlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.doctor-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.doctor-card:hover {
  transform: scale(1.05);
}

.doctor-card h3 {
  color: #0077b6;
  margin-bottom: 10px;
}

.doctor-card p {
  color: #333;
  margin: 6px 0;
}

.doctor-card button {
  margin-top: 10px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}

.doctor-card button:hover {
  background-color: #023e8a;
}
