.home-container {
  text-align: center;
  background-color: #f8f9fa;
  min-height: 100vh;
  padding-bottom: 80px;
}

.welcome-section {
  padding: 60px 20px;
  background: linear-gradient(to bottom right, #90e0ef, #48cae4);
  color: #023e8a;
}

.home-logo {
  width: 100px;
  margin-bottom: 20px;
}

.specialization-section {
  background-color: #caf0f8;
  padding: 40px 20px;
}

.specialization-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.specialization-card {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  color: #0077b6;
}

.specialization-card:hover {
  background-color: #0077b6;
  color: white;
  transform: translateY(-3px);
}

.contact-section {
  background-color: #f1f1f1;
  padding: 40px 0;
  color: #023e8a;
}
