.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #007bff, #00c6ff);
}

.login-card {
  background: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.login-logo {
  width: 70px;
  margin-bottom: 15px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #0056b3;
}

.toggle-text {
  margin-top: 10px;
  font-size: 14px;
}

.toggle-text span {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}
