.footer {
  background-color: #023e8a;
  color: white;
  text-align: center;
  padding: 12px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.15);
}
