body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.main-content {
  min-height: 85vh;
  padding-bottom: 60px; /* space for footer */
}

button {
  cursor: pointer;
}
