body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f8ff;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  padding: 30px;
  min-height: 80vh;
}
